# Dependencies
node_modules
.pnp
.pnp.js

# Testing
/coverage
/playwright-report
/test-results

# Next.js
.next/
out/
build
dist

# Production
*.log
*.pid
*.seed
*.pid.lock

# Env files
.env
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Stashed files
stashed-other-app/
